Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run ng-lint-staged, pnpm run lint:gh-actions

feat: add dev error 4 non http(s) Open Graph image URLs (#731)
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

Notes added by 'git notes add'
  85e6ad3fadf986c4c7a89356cdd944fdb98f8cd5
Due: pnpm run format

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

chore(release): update CHANGELOG.md (#736)
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

build: revert dead code elimination hack for coverage
  instrument-for-coverage.sh
  projects/ngx-meta/e2e/README.md
Due: pnpm run format

build: revert dead code elimination hack for coverage (#737)
  instrument-for-coverage.sh
  projects/ngx-meta/e2e/README.md
Due: pnpm run format

feat: add dev error 4 non http(s) Twitter Card image URLs
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-image-metadata-provider.spec.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-image-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: create util to warn about non http URLs
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.spec.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.ts
  projects/ngx-meta/src/core/src/no-op.ts
  projects/ngx-meta/src/open-graph/src/make-open-graph-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/make-twitter-card-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-image-metadata-provider.spec.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-image-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

feat: improve invalid URL message with relative URL comment
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.spec.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.ts
Due: pnpm run format, pnpm run ng-lint-staged

feat: add dev error 4 non http(s) Twitter Card image URLs (#738)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.spec.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.ts
  projects/ngx-meta/src/core/src/no-op.ts
  projects/ngx-meta/src/open-graph/src/make-open-graph-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/make-twitter-card-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-image-metadata-provider.spec.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-image-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

ci: fix bundle size PR comment workflow
  .github/workflows/pull-request-completed.yml
Due: pnpm run format, pnpm run lint:gh-actions

style: remove unneeded `setter` describe block in tests
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/standard-generator-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/standard-keywords-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/standard-locale-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/standard-title-metadata-provider.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

Notes added by 'git notes add'
  120aa8025a5f1a17b0999826d634f2cf0c27870f
Due: pnpm run format

chore(release): update CHANGELOG.md (#740)
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

style: remove unneeded `setter` describe block in tests (#739)
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/standard-generator-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/standard-keywords-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/standard-locale-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/standard-title-metadata-provider.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

feat: add dev msg if too long OG description
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.ts
  projects/ngx-meta/src/core/src/maybe-too-long-dev-message.spec.ts
  projects/ngx-meta/src/core/src/maybe-too-long-dev-message.ts
  projects/ngx-meta/src/open-graph/src/open-graph-description-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: add dev message formatter
  projects/ngx-meta/src/core/src/__tests__/dummy-format-dev-message-options.ts
  projects/ngx-meta/src/core/src/format-dev-message.spec.ts
  projects/ngx-meta/src/core/src/format-dev-message.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.spec.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.ts
  projects/ngx-meta/src/core/src/maybe-too-long-dev-message.spec.ts
  projects/ngx-meta/src/core/src/maybe-too-long-dev-message.ts
  projects/ngx-meta/src/open-graph/src/open-graph-description-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

feat: add dev msg if too long Twitter Card description
  projects/ngx-meta/src/twitter-card/src/twitter-card-description-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

chore: update API report
  projects/ngx-meta/api-extractor/ngx-meta.api.md
Due: pnpm run format

feat: add dev msg if too long OG/Twitter descriptions (#747)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/__tests__/dummy-format-dev-message-options.ts
  projects/ngx-meta/src/core/src/format-dev-message.spec.ts
  projects/ngx-meta/src/core/src/format-dev-message.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.spec.ts
  projects/ngx-meta/src/core/src/maybe-non-http-url-dev-message.ts
  projects/ngx-meta/src/core/src/maybe-too-long-dev-message.spec.ts
  projects/ngx-meta/src/core/src/maybe-too-long-dev-message.ts
  projects/ngx-meta/src/open-graph/src/open-graph-description-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-description-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

Notes added by 'git notes add'
  b2f845bb7187eafb211f39be95a8ddcb55b79859
Due: pnpm run format

chore(release): update CHANGELOG.md (#748)
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

refactor: use dev msg formatter around
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/module-name.ts
  projects/ngx-meta/src/core/src/ngx-meta.service.ts
  projects/ngx-meta/src/routing/src/module-name.ts
  projects/ngx-meta/src/routing/src/ngx-meta-router-listener.service.spec.ts
  projects/ngx-meta/src/routing/src/ngx-meta-router-listener.service.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: use module name constant for OG / Twitter Card
  projects/ngx-meta/src/open-graph/src/make-open-graph-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/module-name.ts
  projects/ngx-meta/src/open-graph/src/open-graph-description-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/module-name.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-description-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-image-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: use dev msg formatter around (#749)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/module-name.ts
  projects/ngx-meta/src/core/src/ngx-meta.service.ts
  projects/ngx-meta/src/open-graph/src/make-open-graph-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/module-name.ts
  projects/ngx-meta/src/open-graph/src/open-graph-description-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/routing/src/module-name.ts
  projects/ngx-meta/src/routing/src/ngx-meta-router-listener.service.spec.ts
  projects/ngx-meta/src/routing/src/ngx-meta-router-listener.service.ts
  projects/ngx-meta/src/twitter-card/src/module-name.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-description-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/twitter-card-image-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

chore: restore comments & apply formatting
  renovate.json5
Due: pnpm run format

build(example-apps): detect standalone based on version default
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/is-standalone-default-for-version.ts
Due: pnpm run format

build(example-apps): remove standalone from example app model
  projects/ngx-meta/example-apps/src/create-angular-app.ts
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/example-app.ts
Due: pnpm run format

build(example-apps): remove example app model
  projects/ngx-meta/example-apps/src/angular-cli-versions.ts
  projects/ngx-meta/example-apps/src/create-angular-app.ts
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/example-app.ts
  projects/ngx-meta/example-apps/src/parse-args.ts
Due: pnpm run format

ci: rename app-name to cli-version-alias in matrix
  .github/actions/config/action.yml
  .github/workflows/pull-request-completed.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run format, pnpm run lint:gh-actions

build(example-apps): detect standalone based on version default (#759)
  .github/actions/config/action.yml
  .github/workflows/pull-request-completed.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
  projects/ngx-meta/example-apps/src/angular-cli-versions.ts
  projects/ngx-meta/example-apps/src/create-angular-app.ts
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/example-app.ts
  projects/ngx-meta/example-apps/src/is-standalone-default-for-version.ts
  projects/ngx-meta/example-apps/src/parse-args.ts
Due: pnpm run format, pnpm run lint:gh-actions

Revert "build(deps): update python to v3.12.5"
  projects/ngx-meta/docs/poetry.lock
  projects/ngx-meta/docs/pyproject.toml
Due: pnpm run format

Revert "build(deps): update python to v3.12.5" (#766)
  projects/ngx-meta/docs/poetry.lock
  projects/ngx-meta/docs/pyproject.toml
Due: pnpm run format

Notes added by 'git notes add'
  464dc364fbd042fe8d58ce924b807df28f866cdd
Due: pnpm run format

chore(release): update CHANGELOG.md (#767)
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

Path conditions:
  pnpm run format: any of: *
  pnpm run ng-lint-staged: any of: projects/ngx-meta/src/**/*.ts
  pnpm run lint:gh-actions: any of: .github/**/*.{yml,yaml}
