Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint:code --fix --, pnpm run format, pnpm run lint:gh-actions

.lintstagedrc.json:

{
  "!(*.ts)": ["pnpm run format"],
  "projects/ngx-meta/{src,e2e,example-apps,schematics}/**/*.ts": [
    "ng-lint-staged lint:code --fix --",
    "pnpm run format"
  ],
  ".github/**/*.{yml,yaml}": ["pnpm run lint:gh-actions"]
}

Notes added by 'git notes add'
  c6f4b86e7458fa5303cd4e340b1f9886c66bf51b
Due: none

Notes added by 'git notes add'
  cae4c01d815af8a67ef73eeef7a284c356538302
Due: none

build: add script to rehearse a release publish
  .releaserc.js
  CONTRIBUTING.md
  package.json
  semantic-release-local.sh
Due: none

build: add script to rehearse a release publish (#1012)
  .releaserc.js
  CONTRIBUTING.md
  package.json
  semantic-release-local.sh
Due: none

ci: codecov coverage status not reported
  .github/workflows/reusable-coverage.yml
Due: pnpm run lint:gh-actions

build(deps): update Angular to v18.2.11
  package.json
  pnpm-lock.yaml
Due: none

build(deps): update Angular to v18.2.11 (#1024)
  package.json
  pnpm-lock.yaml
Due: none

build: ignore coverage when linting [skip ci]
  .eslintrc.json
Due: none

chore: help IDE TS lang server understand return value [skip ci]
  projects/ngx-meta/example-apps/src/create-example-app.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

chore: avoid repeating Cypress cmd name in type [skip ci]
  projects/ngx-meta/e2e/cypress/support/commands.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

ci: try just fetching the needed depth
  .github/workflows/reusable-lint.yml
Due: pnpm run lint:gh-actions

ci: add one to pr commits num
  .github/workflows/reusable-lint.yml
Due: pnpm run lint:gh-actions

ci: try to see what happens for not PRs cases
  .github/workflows/reusable-lint.yml
Due: pnpm run lint:gh-actions

ci: revert try, it worked
  .github/workflows/reusable-lint.yml
Due: pnpm run lint:gh-actions

ci: try simulating for main
  .github/workflows/reusable-lint.yml
Due: pnpm run lint:gh-actions

ci: try last with `--last`
  package.json
Due: none

ci: revert try, leave job as intended
  .github/workflows/reusable-lint.yml
Due: pnpm run lint:gh-actions

ci: try just fetching the needed depth (#1026)
  .github/workflows/reusable-lint.yml
  package.json
Due: pnpm run lint:gh-actions

fix: do not publish tarball inside package
  postbuild.sh
Due: none

fix: do not publish tarball inside package (#1027)
  postbuild.sh
Due: none

Notes added by 'git notes add'
  f655141427bf3cac8dbc7b898cbce8c840b3f9fa
Due: none

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md (#1028)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

fix: include hidden files when uploading dist
  .github/workflows/reusable-build.yml
Due: pnpm run lint:gh-actions

fix: include hidden files when uploading dist (#1029)
  .github/workflows/reusable-build.yml
Due: pnpm run lint:gh-actions

Notes added by 'git notes add'
  cb73701e0e25a942c2bbbc6c8e78783490b8e3b4
Due: none

build: use eslint directly when linting
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

build: use eslint directly when linting (#1030)
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

build: lint `package.json` files
  .eslintrc.json
  angular.json
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/.eslintrc.json
  projects/ngx-meta/docs/.eslintrc.json
  projects/ngx-meta/src/.eslintrc.json
Due: none

build: configure lint-staged for json files
  .eslintrc.json
  .lintstagedrc.json
Due: none

chore: document why `*.json` is needed
  .eslintrc.json
Due: none

build: lint `package.json` files (#1031)
  .eslintrc.json
  .lintstagedrc.json
  angular.json
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/.eslintrc.json
  projects/ngx-meta/docs/.eslintrc.json
  projects/ngx-meta/src/.eslintrc.json
Due: none

build: sort `package.json` files
  .eslintrc.json
  package.json
  projects/ngx-meta/bundle-size/package.json
  projects/ngx-meta/e2e/package.json
  projects/ngx-meta/example-apps/package.json
  projects/ngx-meta/schematics/package.json
  projects/ngx-meta/src/package.json
Due: none

build: add validate script & rename them
  package.json
Due: none
