Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint:code --fix --, pnpm run format, pnpm run lint:gh-actions

.lintstagedrc.json:

{
  "!(*.ts)": ["pnpm run format"],
  "projects/ngx-meta/{src,e2e,example-apps,schematics}/**/*.ts": [
    "ng-lint-staged lint:code --fix --",
    "pnpm run format"
  ],
  ".github/**/*.{yml,yaml}": ["pnpm run lint:gh-actions"]
}

test: do not rely on `ng-add` defaults for tests
  projects/ngx-meta/schematics/ng-add/index.spec.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

test: do not rely on `ng-add` defaults for tests (#977)
  projects/ngx-meta/schematics/ng-add/index.spec.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

feat: add `ng-add` option to provide metadata modules
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
  projects/ngx-meta/schematics/ng-add/schema.json
  projects/ngx-meta/schematics/ng-add/schema.ts
  projects/ngx-meta/schematics/ng-add/testing/should-add-root-provider.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

feat: add `ng-add` option to provide metadata modules (#978)
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
  projects/ngx-meta/schematics/ng-add/schema.json
  projects/ngx-meta/schematics/ng-add/schema.ts
  projects/ngx-meta/schematics/ng-add/testing/should-add-root-provider.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

Notes added by 'git notes add'
  b86627be424ad8e249150202f881c37493b1edde
Due: none

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md (#979)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

refactor: introduce utils for r/w package.json files
  projects/ngx-meta/example-apps/src/add-ci-run-scripts.ts
  projects/ngx-meta/example-apps/src/add-linked-library.ts
  projects/ngx-meta/example-apps/src/constants.ts
  projects/ngx-meta/example-apps/src/create-package-json-with-angular-cli.ts
  projects/ngx-meta/example-apps/src/package-json.ts
  projects/ngx-meta/example-apps/src/read-package-json-in-dir.ts
  projects/ngx-meta/example-apps/src/write-package-json-in-dir.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

refactor: introduce utils for r/w package.json files (#980)
  projects/ngx-meta/example-apps/src/add-ci-run-scripts.ts
  projects/ngx-meta/example-apps/src/add-linked-library.ts
  projects/ngx-meta/example-apps/src/constants.ts
  projects/ngx-meta/example-apps/src/create-package-json-with-angular-cli.ts
  projects/ngx-meta/example-apps/src/package-json.ts
  projects/ngx-meta/example-apps/src/read-package-json-in-dir.ts
  projects/ngx-meta/example-apps/src/write-package-json-in-dir.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

build: use provider APIs for module-based example apps
  projects/ngx-meta/example-apps/templates/module/src/app/app.module.template.ts
  projects/ngx-meta/src/routing/src/providers/ngx-meta-routing.module.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

build: use provider APIs for module-based example apps (#981)
  projects/ngx-meta/example-apps/templates/module/src/app/app.module.template.ts
  projects/ngx-meta/src/routing/src/providers/ngx-meta-routing.module.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

fix: do not fail if `ng-add` schematic util isn't available
  projects/ngx-meta/schematics/ng-add/add-root-provider/add-root-provider.ts
  projects/ngx-meta/schematics/ng-add/add-root-provider/index.ts
  projects/ngx-meta/schematics/ng-add/add-root-provider/make-add-root-provider-fn.ts
  projects/ngx-meta/schematics/ng-add/add-root-provider/make-v16-add-root-provider.ts
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

fix: do not fail if `ng-add` schematic util isn't available (#984)
  projects/ngx-meta/schematics/ng-add/add-root-provider/add-root-provider.ts
  projects/ngx-meta/schematics/ng-add/add-root-provider/index.ts
  projects/ngx-meta/schematics/ng-add/add-root-provider/make-add-root-provider-fn.ts
  projects/ngx-meta/schematics/ng-add/add-root-provider/make-v16-add-root-provider.ts
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

test: run ng-add in example apps
  projects/ngx-meta/example-apps/src/add-app-config-providers-from-template-into-source-file.ts
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/ng-add-library.ts
  projects/ngx-meta/schematics/ng-add/schema.json
Due: ng-lint-staged lint:code --fix --, pnpm run format

test: run ng-add in example apps (#982)
  projects/ngx-meta/example-apps/src/add-app-config-providers-from-template-into-source-file.ts
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/ng-add-library.ts
  projects/ngx-meta/schematics/ng-add/schema.json
Due: ng-lint-staged lint:code --fix --, pnpm run format

Notes added by 'git notes add'
  d5f7d252c65215bf6593222cf86430d9c795638d
Due: none

chore(release): update CHANGELOG.md (#985)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

refactor: update path references to angular-cli-versions.json
  .github/actions/config/action.yml
  .github/workflows/reusable-example-apps.yml
  renovate.json5
Due: pnpm run lint:gh-actions

refactor: simplify directory utils
  projects/ngx-meta/example-apps/src/library/get-library-name.ts
  projects/ngx-meta/example-apps/src/library/index.ts
  projects/ngx-meta/example-apps/src/library/library-dist-dir.ts
  projects/ngx-meta/example-apps/src/steps/add-linked-library.ts
  projects/ngx-meta/example-apps/src/steps/copy-app-dir-into-project.ts
  projects/ngx-meta/example-apps/src/steps/copy-templates.ts
  projects/ngx-meta/example-apps/src/steps/ng-add-library.ts
  projects/ngx-meta/example-apps/src/steps/update-ts-config-to-import-json-files-and-set-path-mappings.ts
  projects/ngx-meta/example-apps/src/templates/index.ts
  projects/ngx-meta/example-apps/src/templates/module-templates-dir.ts
  projects/ngx-meta/example-apps/src/templates/standalone-templates-dir.ts
  projects/ngx-meta/example-apps/src/templates/templates-dir.ts
  projects/ngx-meta/example-apps/src/templates/update-app-config.ts
  projects/ngx-meta/example-apps/src/templates/update-app-module.ts
  projects/ngx-meta/example-apps/src/utils/directories.ts
  projects/ngx-meta/example-apps/src/utils/example-apps-dir.ts
  projects/ngx-meta/example-apps/src/utils/index.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

refactor: rename cliVersionSemver to just cliVersion
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/steps/create-angular-app.ts
  projects/ngx-meta/example-apps/src/steps/setup-ssr.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

refactor: extract create example app options out
  projects/ngx-meta/example-apps/src/create-example-app-options.ts
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/parse-args.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

refactor: merge only app module providers in example apps infra
  projects/ngx-meta/example-apps/src/templates/update-app-config.ts
  projects/ngx-meta/example-apps/src/templates/update-app-module.ts
  projects/ngx-meta/example-apps/src/typescript/add-app-config-providers-from-template-into-source-file.ts
  projects/ngx-meta/example-apps/src/typescript/add-app-module-from-template-into-source-file.ts
  projects/ngx-meta/example-apps/src/typescript/index.ts
  projects/ngx-meta/example-apps/src/typescript/merge-app-config-providers-with-template.ts
  projects/ngx-meta/example-apps/src/typescript/merge-app-module-providers-with-template.ts
  projects/ngx-meta/example-apps/src/typescript/merge-providers-with-template.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

feat: improve `ng-add` logging
  projects/ngx-meta/schematics/ng-add/add-root-provider/make-add-root-provider-fn.ts
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

feat: improve `ng-add` logging (#988)
  projects/ngx-meta/schematics/ng-add/add-root-provider/make-add-root-provider-fn.ts
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
Due: ng-lint-staged lint:code --fix --, pnpm run format

Notes added by 'git notes add'
  becf28852b7f16e288cc5214ba54002186f87c12
Due: none

chore(release): update CHANGELOG.md (#989)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

feat: enable `ng-add` prompts for routing & metadata modules
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/manual-setup.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/schematics/ng-add/index.ts
  projects/ngx-meta/schematics/ng-add/schema.json
Due: ng-lint-staged lint:code --fix --, pnpm run format

feat: enable `ng-add` prompts for routing & metadata modules (#990)
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/manual-setup.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/schematics/ng-add/index.ts
  projects/ngx-meta/schematics/ng-add/schema.json
Due: ng-lint-staged lint:code --fix --, pnpm run format

Notes added by 'git notes add'
  5f4c2c30aa1dc62ebd1fdd47d214f7e329b946eb
Due: none

chore(release): update CHANGELOG.md (#991)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

docs: split between utility types and metadata values types
  projects/ngx-meta/docs/content/built-in-modules/json-ld.md
  projects/ngx-meta/docs/content/built-in-modules/open-graph.md
  projects/ngx-meta/docs/content/built-in-modules/standard.md
  projects/ngx-meta/docs/content/built-in-modules/twitter-cards.md
Due: none

docs: split between utility types and metadata values types (#992)
  projects/ngx-meta/docs/content/built-in-modules/json-ld.md
  projects/ngx-meta/docs/content/built-in-modules/open-graph.md
  projects/ngx-meta/docs/content/built-in-modules/standard.md
  projects/ngx-meta/docs/content/built-in-modules/twitter-cards.md
Due: none

Notes added by 'git notes add'
  43c48d3b2cf76b81e76830d7ff71d39c72545911
Due: none
