Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run ng-lint-staged, pnpm run lint:gh-actions

ci: temporarily comment unneeded jobs
  .github/workflows/pull-request.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run format, pnpm run lint:gh-actions

ci: extract example apps matrix into action
  .github/actions/config/action.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run format, pnpm run lint:gh-actions

Revert "ci: temporarily comment unneeded jobs"
  .github/workflows/pull-request.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run format, pnpm run lint:gh-actions

ci: use example app versions in all workflows
  .github/workflows/pull-request-completed.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run format, pnpm run lint:gh-actions

ci: extract example apps matrix config (#716)
  .github/actions/config/action.yml
  .github/workflows/pull-request-completed.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run format, pnpm run lint:gh-actions

build: ignore __tests__ dirs in coverage reports
  angular.json
  projects/ngx-meta/e2e/.nycrc.json
Due: pnpm run format

build: add run script for unit tests with coverage
  .ci/Makefile
  CONTRIBUTING.md
  package.json
Due: pnpm run format

build: ignore __tests__ dirs in coverage reports (#717)
  angular.json
  projects/ngx-meta/e2e/.nycrc.json
Due: pnpm run format

build: add run script for unit tests with coverage (#718)
  .ci/Makefile
  CONTRIBUTING.md
  package.json
Due: pnpm run format

build: tell ng-lint-staged to just lint code [skip ci]
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: pnpm run format

build: tell ng-lint-staged to just lint code [skip ci] (#719)
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: pnpm run format

test: increase coverage after reviewing some reports
  projects/ngx-meta/src/core/src/metadata-loader.ts
  projects/ngx-meta/src/core/src/ngx-meta.service.ts
  projects/ngx-meta/src/standard/src/standard-title-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

test: increase coverage after reviewing some reports (#720)
  projects/ngx-meta/src/core/src/metadata-loader.ts
  projects/ngx-meta/src/core/src/ngx-meta.service.ts
  projects/ngx-meta/src/standard/src/standard-title-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

docs: update comparison with code coverage [skip ci]
  projects/ngx-meta/docs/content/why/comparison.md
Due: pnpm run format

docs: update comparison with code coverage [skip ci] (#721)
  projects/ngx-meta/docs/content/why/comparison.md
Due: pnpm run format

build: add lint for Cypress spec files
  .eslintrc.json
  angular.json
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/e2e/.eslintrc.json
Due: pnpm run format

build(ide): enable ESLint in WebStorm for project
  .idea/jsLinters/eslint.xml
Due: pnpm run format

build(ide): add default inspection profiles for project
  .idea/inspectionProfiles/Project_Default.xml
Due: pnpm run format

build: add lint for Cypress spec files (#722)
  .eslintrc.json
  angular.json
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/e2e/.eslintrc.json
Due: pnpm run format

build(ide): setup JetBrains IDEs to use repo root as working dir
  .idea/runConfigurations/_template__of_JavaScriptTestRunnerKarma.xml
Due: pnpm run format

test: add unit test for `clear` method
  projects/ngx-meta/src/core/src/ngx-meta.service.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

test: add unit test for `clear` method (#727)
  projects/ngx-meta/src/core/src/ngx-meta.service.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

test: add missing core module tests
  projects/ngx-meta/src/core/src/ngx-meta-core.module.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

chore: ignore line for coverage
  projects/ngx-meta/src/core/src/make-metadata-manager-provider-from-setter-factory.ts
Due: pnpm run format, pnpm run ng-lint-staged

test: add missing core module tests (#728)
  projects/ngx-meta/src/core/src/make-metadata-manager-provider-from-setter-factory.ts
  projects/ngx-meta/src/core/src/ngx-meta-core.module.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

ci: upload a merged coverage report to codecov
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-test.yml
  codecov.yml
  projects/ngx-meta/e2e/package.json
Due: pnpm run format, pnpm run lint:gh-actions

ci: upload a merged coverage report to codecov (#729)
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-test.yml
  codecov.yml
  projects/ngx-meta/e2e/package.json
Due: pnpm run format, pnpm run lint:gh-actions

build: consider tree shaking for code coverage reporting
  .github/workflows/reusable-build.yml
  instrument-for-coverage.sh
  package.json
  postbuild.sh
Due: pnpm run format, pnpm run lint:gh-actions

build: consider tree shaking for code coverage reporting (#732)
  .github/workflows/reusable-build.yml
  instrument-for-coverage.sh
  package.json
  postbuild.sh
Due: pnpm run format, pnpm run lint:gh-actions

build: improve Cypress coverage DX: cache & report renaming
  .github/workflows/reusable-e2e.yml
  projects/ngx-meta/e2e/cypress.config.ts
  projects/ngx-meta/e2e/cypress/support/coverage.ts
  projects/ngx-meta/e2e/package.json
  projects/ngx-meta/e2e/pnpm-lock.yaml
  projects/ngx-meta/e2e/tsconfig.json
  projects/ngx-meta/e2e/types/istanbuljs__load-nyc-config.d.ts
Due: pnpm run format, pnpm run lint:gh-actions

chore: move source links to proper file
  projects/ngx-meta/e2e/cypress/support/coverage.ts
  projects/ngx-meta/e2e/types/istanbuljs__load-nyc-config.d.ts
Due: pnpm run format

build: improve Cypress coverage DX: cache & report renaming (#733)
  .github/workflows/reusable-e2e.yml
  projects/ngx-meta/e2e/cypress.config.ts
  projects/ngx-meta/e2e/cypress/support/coverage.ts
  projects/ngx-meta/e2e/package.json
  projects/ngx-meta/e2e/pnpm-lock.yaml
  projects/ngx-meta/e2e/tsconfig.json
  projects/ngx-meta/e2e/types/istanbuljs__load-nyc-config.d.ts
Due: pnpm run format, pnpm run lint:gh-actions

build: automate running E2E tests with coverage
  .idea/runConfigurations/ngx_meta_e2e_v18__build_with_coverage__serve___test.xml
  projects/ngx-meta/e2e/package.json
  projects/ngx-meta/e2e/pnpm-lock.yaml
  projects/ngx-meta/e2e/start-server-and-test.sh
Due: pnpm run format

build: automate running E2E tests with coverage (#734)
  .idea/runConfigurations/ngx_meta_e2e_v18__build_with_coverage__serve___test.xml
  projects/ngx-meta/e2e/package.json
  projects/ngx-meta/e2e/pnpm-lock.yaml
  projects/ngx-meta/e2e/start-server-and-test.sh
Due: pnpm run format

docs: add recent coverage tooling changes
  CONTRIBUTING.md
  projects/ngx-meta/e2e/README.md
Due: pnpm run format

docs: add recent coverage tooling changes (#735)
  CONTRIBUTING.md
  projects/ngx-meta/e2e/README.md
Due: pnpm run format

build(deps): update to Angular v18.1
  package.json
  pnpm-lock.yaml
  renovate.json5
Due: pnpm run format

build(deps): update to Angular v18.1 (#703)
  package.json
  pnpm-lock.yaml
  renovate.json5
Due: pnpm run format

feat: add dev error 4 non http(s) Open Graph image URLs
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/open-graph-image-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

Path conditions:
  pnpm run format: any of: *
  pnpm run ng-lint-staged: any of: projects/ngx-meta/src/**/*.ts
  pnpm run lint:gh-actions: any of: .github/**/*.{yml,yaml}
