Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

.lintstagedrc.json:

{
  "!(*.{ts,json})": ["pnpm run format:files"],
  "*.{ts,json}": ["pnpm run lint:code:files --fix", "pnpm run format:files"],
  ".github/**/*.{yml,yaml}": ["pnpm run lint:gh-actions"]
}

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md (#1246)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

Revert "build(deps-dev): update dependency cypress to v15 (#1258)"
  projects/ngx-meta/e2e/package.json
  projects/ngx-meta/e2e/pnpm-lock.yaml
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: use latest CLI versions for example apps
  projects/ngx-meta/example-apps/angular-cli-versions.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: use latest CLI versions for example apps (#1270)
  projects/ngx-meta/example-apps/angular-cli-versions.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

build(dev-deps): revert jest to v29
  package.json
  pnpm-lock.yaml
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

build(dev-deps): revert jest to v29 (#1271)
  package.json
  pnpm-lock.yaml
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

build(deps): update to Angular v19
  package.json
  pnpm-lock.yaml
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: update run configs from v20 -> v21
  .idea/runConfigurations/ngx_meta_bundle_size_v21__report.xml
  .idea/runConfigurations/ngx_meta_e2e_v21__build_with_coverage__serve___test.xml
  .idea/runConfigurations/ngx_meta_example_apps_v20__create_example_app.xml
  .idea/runConfigurations/ngx_meta_example_apps_v21__build___compare_sizes.xml
  .idea/runConfigurations/ngx_meta_example_apps_v21__build___serve.xml
  .idea/runConfigurations/ngx_meta_example_apps_v21__create_example_app.xml
Due: none

fix: remove Angular types to build from v19
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/tsconfig.lib.json
  projects/ngx-meta/src/types/angular.d.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

test: fix Cypress retry-ability by command -> query
  projects/ngx-meta/e2e/cypress/support/commands.ts
  projects/ngx-meta/e2e/cypress/support/cypress.d.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat!: claim support for v21
  projects/ngx-meta/docs/content/misc/bundle-size.md
  projects/ngx-meta/docs/content/why/comparison.md
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: update renovate config for Angular CLI vs
  renovate.json5
Due: none

feat!: add support for v21 (#1272)
  .idea/runConfigurations/ngx_meta_bundle_size_v21__report.xml
  .idea/runConfigurations/ngx_meta_e2e_v21__build_with_coverage__serve___test.xml
  .idea/runConfigurations/ngx_meta_example_apps_v20__create_example_app.xml
  .idea/runConfigurations/ngx_meta_example_apps_v21__build___compare_sizes.xml
  .idea/runConfigurations/ngx_meta_example_apps_v21__build___serve.xml
  .idea/runConfigurations/ngx_meta_example_apps_v21__create_example_app.xml
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/docs/content/misc/bundle-size.md
  projects/ngx-meta/docs/content/why/comparison.md
  projects/ngx-meta/e2e/cypress/support/commands.ts
  projects/ngx-meta/e2e/cypress/support/cypress.d.ts
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/package.json
  projects/ngx-meta/src/tsconfig.lib.json
  projects/ngx-meta/src/types/angular.d.ts
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  d48dc9b280368ba9eb39ce031e54abb658a8c536
Due: none

chore(release): update CHANGELOG.md (#1273)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

test: improve Cypress commands def
  projects/ngx-meta/e2e/cypress/support/commands.ts
  projects/ngx-meta/e2e/cypress/support/cypress.d.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

test: improve Cypress commands def (#1274)
  projects/ngx-meta/e2e/cypress/support/commands.ts
  projects/ngx-meta/e2e/cypress/support/cypress.d.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: use provideEnvironmentInitializer
  projects/ngx-meta/src/core/src/loader/provide-ngx-meta-metadata-loader.ts
  projects/ngx-meta/src/routing/src/providers/provide-ngx-meta-routing.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: use provideEnvironmentInitializer (#1275)
  projects/ngx-meta/src/core/src/loader/provide-ngx-meta-metadata-loader.ts
  projects/ngx-meta/src/routing/src/providers/provide-ngx-meta-routing.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

ci(release): do not trigger a GitHub pre-release
  .releaserc.js
Due: none

ci(release): do not trigger a GitHub pre-release (#1276)
  .releaserc.js
Due: none

chore: apply format
  projects/ngx-meta/src/core/src/meta-elements/v1/make-composed-key-val-meta-definition.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

ci(release): use npm's trusted publishing to avoid long lived tokens
  .env.release.sample
  .github/workflows/cicd.yml
  .github/workflows/reusable-release.yml
  projects/ngx-meta/src/package.json
  semantic-release-local.sh
Due: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

chore: fix Renovate configs with globs
  renovate.json5
Due: none

chore: fix Renovate configs with globs (#1294)
  renovate.json5
Due: none

chore: fix Python version for mkdocs compat
  renovate.json5
Due: none

ci(release): use npm's trusted publishing to avoid long lived tokens (#1293)
  .env.release.sample
  .github/workflows/cicd.yml
  .github/workflows/reusable-release.yml
  projects/ngx-meta/src/package.json
  semantic-release-local.sh
Due: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

chore: fix Python version for mkdocs compat (#1299)
  renovate.json5
Due: none

Notes added by 'git notes add'
  7da3bce7b1ad536f4bf1ac4aeb992c5f69a599d5
Due: none

ci(release): use newer npm CLI when releasing
  .github/workflows/reusable-release.yml
Due: pnpm run lint:gh-actions

Notes added by 'git notes add'
  6c5884f4f1c4d305c2e5759b7bb281de9eb5613e
Due: none

chore(release): update CHANGELOG.md (#1301)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

ci(docs): use wrangler action instead of pages-action
  .github/workflows/reusable-docs.yml
Due: pnpm run lint:gh-actions

build(docs): add wrangler as dep
  projects/ngx-meta/docs/package.json
  projects/ngx-meta/docs/pnpm-lock.yaml
Due: pnpm run lint:code:files --fix, pnpm run format:files

ci: use docs working dir in wrangler action
  .github/workflows/reusable-docs.yml
Due: pnpm run lint:gh-actions
