Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

.lintstagedrc.json:

{
  "!(*.{ts,json})": ["pnpm run format:files"],
  "*.{ts,json}": ["pnpm run lint:code:files --fix", "pnpm run format:files"],
  ".github/**/*.{yml,yaml}": ["pnpm run lint:gh-actions"]
}

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md (#1153)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore: remove fake branch from release config [skip ci]
  .releaserc.js
Due: none

feat!: publish v18 version
  .releaserc.js
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat!: publish v18 version (#1154)
  .releaserc.js
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  d62e3d48c34a60b8caa44d19b4ffdce3995c2c16
Due: none

chore(release): update CHANGELOG.md (#1155)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore: remove unneeded release branch [skip ci]
  .releaserc.js
Due: none

feat!: publish v17 version
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat!: publish v17 version (#1156)
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  407d20c792b787c3b7ab7c4c55768a931c279fc5
Due: none

chore(release): update CHANGELOG.md (#1157)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

docs: update install instructions for older major versions
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/manual-setup.md
  projects/ngx-meta/docs/content/why/features.md
Due: none

docs: update install instructions for older major versions (#1158)
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/manual-setup.md
  projects/ngx-meta/docs/content/why/features.md
Due: none

chore: remove empty actionlint config
  .github/actionlint.yaml
Due: pnpm run lint:gh-actions

build: fix Python poetry dep install error
  projects/ngx-meta/docs/poetry.lock
Due: none

chore: ignore unlisted mktemp binary
  knip.jsonc
Due: none

ci: run docs only to test if everything's ok
  .github/workflows/cicd.yml
  .github/workflows/reusable-docs.yml
Due: pnpm run lint:gh-actions

Revert "ci: run docs only to test if everything's ok"
  .github/workflows/cicd.yml
  .github/workflows/reusable-docs.yml
Due: pnpm run lint:gh-actions

build: fix Python poetry dep install error (#1179)
  projects/ngx-meta/docs/poetry.lock
Due: none

ci: always build docs, deploy only if needed
  .github/workflows/reusable-docs.yml
Due: pnpm run lint:gh-actions

chore: rename Codecov GH Action arg
  .github/workflows/reusable-coverage.yml
Due: pnpm run lint:gh-actions

ci: always build docs, deploy only if needed (#1180)
  .github/workflows/reusable-docs.yml
Due: pnpm run lint:gh-actions

chore: migrate Renovate filePath config [skip ci]
  renovate.json5
Due: none

docs: fix NgxMetaRouteData usage in routing example
  projects/ngx-meta/docs/content/guides/set-metadata-using-routing.md
  projects/ngx-meta/docs/includes/routing-usage.md
Due: none

docs: fix NgxMetaRouteData usage in routing example (#1183)
  projects/ngx-meta/docs/content/guides/set-metadata-using-routing.md
  projects/ngx-meta/docs/includes/routing-usage.md
Due: none

chore: do not automatically update angular majors
  renovate.json5
Due: none

chore: include ng-packagr in non autoupdated deps
  renovate.json5
Due: none

chore: run api extractor, updates quotes essentially
  projects/ngx-meta/api-extractor/ngx-meta.api.md
Due: none

feat!: add support for v20
  .idea/runConfigurations/ngx_meta_bundle_size_v20__report.xml
  .idea/runConfigurations/ngx_meta_e2e_v20__build_with_coverage__serve___test.xml
  .idea/runConfigurations/ngx_meta_example_apps_v19__create_example_app.xml
  .idea/runConfigurations/ngx_meta_example_apps_v20__build___compare_sizes.xml
  .idea/runConfigurations/ngx_meta_example_apps_v20__build___serve.xml
  .idea/runConfigurations/ngx_meta_example_apps_v20__create_example_app.xml
  projects/ngx-meta/docs/content/misc/bundle-size.md
  projects/ngx-meta/docs/content/why/comparison.md
  projects/ngx-meta/e2e/README.md
  projects/ngx-meta/e2e/cypress/support/metadata/standard.ts
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/example-apps/src/angular/created-files-have-type-suffixes-in-version.ts
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/semver/index.ts
  projects/ngx-meta/example-apps/src/steps/index.ts
  projects/ngx-meta/example-apps/src/steps/update-app-config-and-main.ts
  projects/ngx-meta/example-apps/src/templates/index.ts
  projects/ngx-meta/example-apps/src/templates/update-main-to-use-typed-app-component.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/app.routes.ts
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/package.json
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat!: add support for v20 (#1204)
  .idea/runConfigurations/ngx_meta_bundle_size_v20__report.xml
  .idea/runConfigurations/ngx_meta_e2e_v20__build_with_coverage__serve___test.xml
  .idea/runConfigurations/ngx_meta_example_apps_v19__create_example_app.xml
  .idea/runConfigurations/ngx_meta_example_apps_v20__build___compare_sizes.xml
  .idea/runConfigurations/ngx_meta_example_apps_v20__build___serve.xml
  .idea/runConfigurations/ngx_meta_example_apps_v20__create_example_app.xml
  projects/ngx-meta/docs/content/misc/bundle-size.md
  projects/ngx-meta/docs/content/why/comparison.md
  projects/ngx-meta/e2e/README.md
  projects/ngx-meta/e2e/cypress/support/metadata/standard.ts
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/example-apps/src/angular/created-files-have-type-suffixes-in-version.ts
  projects/ngx-meta/example-apps/src/create-example-app.ts
  projects/ngx-meta/example-apps/src/semver/index.ts
  projects/ngx-meta/example-apps/src/steps/index.ts
  projects/ngx-meta/example-apps/src/steps/update-app-config-and-main.ts
  projects/ngx-meta/example-apps/src/templates/index.ts
  projects/ngx-meta/example-apps/src/templates/update-main-to-use-typed-app-component.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/app.routes.ts
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/package.json
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  f8efc94d61045821f804bd16093b7145a7888c02
Due: none

chore(release): update CHANGELOG.md (#1205)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore: do not update Angular ESLint majors with Renovate
  renovate.json5
Due: none

chore: apply new format
  projects/ngx-meta/docs/content/migrations/02-manager-provider-apis.md
Due: none

Notes added by 'git notes add'
  feb9a0caf29f30c83fad2d996c337a1a30f1ed8f
Due: none
