Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run ng-lint-staged, pnpm run lint:gh-actions

.lintstagedrc.json:

{
  "*": ["pnpm run format"],
  "projects/ngx-meta/src/**/*.ts": ["pnpm run ng-lint-staged"],
  ".github/**/*.{yml,yaml}": ["pnpm run lint:gh-actions"]
}

feat: add ng-add schematic
  package.json
  pnpm-lock.yaml
  postbuild.sh
  projects/ngx-meta/schematics/collection.json
  projects/ngx-meta/schematics/jest.config.ts
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
  projects/ngx-meta/schematics/ng-add/schema.json
  projects/ngx-meta/schematics/ng-add/schema.ts
  projects/ngx-meta/schematics/package.json
  projects/ngx-meta/schematics/testing/lib-name.ts
  projects/ngx-meta/schematics/tsconfig.json
  projects/ngx-meta/schematics/tsconfig.schematics.json
  projects/ngx-meta/schematics/tsconfig.spec.json
  projects/ngx-meta/src/package.json
Due: pnpm run format

docs: recommend using standalone APIs around
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/docs/content/built-in-modules/json-ld.md
  projects/ngx-meta/docs/content/built-in-modules/open-graph.md
  projects/ngx-meta/docs/content/built-in-modules/standard.md
  projects/ngx-meta/docs/content/built-in-modules/twitter-cards.md
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/custom-metadata-providers-selection.md
  projects/ngx-meta/docs/content/guides/defaults.md
  projects/ngx-meta/docs/content/guides/late-loading-modules.md
  projects/ngx-meta/docs/content/guides/set-metadata-using-routing.md
  projects/ngx-meta/docs/content/guides/set-metadata-using-service.md
  projects/ngx-meta/docs/content/guides/url-resolution.md
  projects/ngx-meta/docs/content/misc/standalone-vs-module-apis.md
  projects/ngx-meta/docs/includes/abbreviations.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/example-apps/templates/module/src/app/all-meta-set-by-service/all-meta-set-by-service.component.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/all-meta-set-by-service/all-meta-set-by-service.component.ts
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
  projects/ngx-meta/src/routing/src/providers/ngx-meta-routing.module.ts
  projects/ngx-meta/src/routing/src/providers/provide-ngx-meta-routing.ts
Due: pnpm run format, pnpm run ng-lint-staged

docs: recommend using standalone APIs around (#964)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/docs/content/built-in-modules/json-ld.md
  projects/ngx-meta/docs/content/built-in-modules/open-graph.md
  projects/ngx-meta/docs/content/built-in-modules/standard.md
  projects/ngx-meta/docs/content/built-in-modules/twitter-cards.md
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/custom-metadata-providers-selection.md
  projects/ngx-meta/docs/content/guides/defaults.md
  projects/ngx-meta/docs/content/guides/late-loading-modules.md
  projects/ngx-meta/docs/content/guides/set-metadata-using-routing.md
  projects/ngx-meta/docs/content/guides/set-metadata-using-service.md
  projects/ngx-meta/docs/content/guides/url-resolution.md
  projects/ngx-meta/docs/content/misc/standalone-vs-module-apis.md
  projects/ngx-meta/docs/includes/abbreviations.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/example-apps/templates/module/src/app/all-meta-set-by-service/all-meta-set-by-service.component.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/all-meta-set-by-service/all-meta-set-by-service.component.ts
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
  projects/ngx-meta/src/routing/src/providers/ngx-meta-routing.module.ts
  projects/ngx-meta/src/routing/src/providers/provide-ngx-meta-routing.ts
Due: pnpm run format, pnpm run ng-lint-staged

build: split libs unit tests from schematics ones
  .ci/Makefile
  .github/workflows/reusable-test.yml
  .idea/runConfigurations/Unit_tests__libraries.xml
  CONTRIBUTING.md
  jest.config.ts
  package.json
  projects/ngx-meta/schematics/jest.config.ts
Due: pnpm run format, pnpm run lint:gh-actions

ci: add schematics tests to CI/CD
  .ci/Makefile
  .github/workflows/reusable-test.yml
  jest.config.json
  jest.config.ts
Due: pnpm run format, pnpm run lint:gh-actions

build: use js for Jest config
  jest.config.js
  jest.config.json
  projects/ngx-meta/schematics/jest.config.js
  projects/ngx-meta/schematics/jest.config.ts
  projects/ngx-meta/schematics/tsconfig.schematics.json
Due: pnpm run format

docs: add schematic info
  projects/ngx-meta/docs/content/get-started.md
Due: pnpm run format

feat: add ng-add schematic (#962)
  .ci/Makefile
  .github/workflows/reusable-test.yml
  .idea/runConfigurations/Unit_tests__libraries.xml
  CONTRIBUTING.md
  jest.config.js
  package.json
  pnpm-lock.yaml
  postbuild.sh
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/schematics/collection.json
  projects/ngx-meta/schematics/jest.config.js
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
  projects/ngx-meta/schematics/ng-add/schema.json
  projects/ngx-meta/schematics/ng-add/schema.ts
  projects/ngx-meta/schematics/package.json
  projects/ngx-meta/schematics/testing/lib-name.ts
  projects/ngx-meta/schematics/tsconfig.json
  projects/ngx-meta/schematics/tsconfig.schematics.json
  projects/ngx-meta/schematics/tsconfig.spec.json
  projects/ngx-meta/src/package.json
Due: pnpm run format, pnpm run lint:gh-actions

Notes added by 'git notes add'
  f07a15b38694eb383edb9d0284d12db63424ba45
Due: pnpm run format

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

chore(release): update CHANGELOG.md (#966)
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

build: add linting for schematics
  angular.json
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/schematics/.eslintrc.json
  projects/ngx-meta/schematics/ng-add/index.spec.ts
Due: pnpm run format

build: add linting for schematics (#967)
  angular.json
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/schematics/.eslintrc.json
  projects/ngx-meta/schematics/ng-add/index.spec.ts
Due: pnpm run format

build: add linting to Jasmine test files
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/src/.eslintrc.json
Due: pnpm run format

style: apply all fixable linter issues
  projects/ngx-meta/src/__tests__/resolver-object-merging.spec.ts
  projects/ngx-meta/src/core/src/head-elements/head-element-upsert-or-remove.spec.ts
  projects/ngx-meta/src/core/src/managers/metadata-registry.spec.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/ngx-meta-elements.service.spec.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-json-resolver.spec.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-resolver.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-url-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/managers/standard-locale-metadata-provider.spec.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-image-metadata-provider.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

chore: fix linter warnings in tests
  projects/ngx-meta/src/core/src/head-elements/head-element-upsert-or-remove.spec.ts
  projects/ngx-meta/src/core/src/managers/provider/v2/provide-ngx-meta-manager.spec.ts
  projects/ngx-meta/src/core/src/messaging/maybe-too-long-dev-message.spec.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/ngx-meta-meta.service.spec.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/ngx-meta-elements.service.spec.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/with-content-attribute.spec.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-json-resolver.spec.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-resolver.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-url-metadata-provider.spec.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.spec.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

build: add linting to Jasmine test files (#968)
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/src/.eslintrc.json
  projects/ngx-meta/src/__tests__/resolver-object-merging.spec.ts
  projects/ngx-meta/src/core/src/head-elements/head-element-upsert-or-remove.spec.ts
  projects/ngx-meta/src/core/src/managers/metadata-registry.spec.ts
  projects/ngx-meta/src/core/src/managers/provider/v2/provide-ngx-meta-manager.spec.ts
  projects/ngx-meta/src/core/src/messaging/maybe-too-long-dev-message.spec.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/ngx-meta-meta.service.spec.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/ngx-meta-elements.service.spec.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/with-content-attribute.spec.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-json-resolver.spec.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-resolver.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-url-metadata-provider.spec.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.spec.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/managers/standard-locale-metadata-provider.spec.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-image-metadata-provider.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

build: add ESLint to example apps infra
  angular.json
  projects/ngx-meta/example-apps/.eslintrc.json
Due: pnpm run format

build: run linter for example apps ts files
  .lintstagedrc.json
Due: pnpm run format

chore: fix linter issues around
  projects/ngx-meta/example-apps/src/parse-args.ts
  projects/ngx-meta/example-apps/templates/module/src/app/app.component.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/app.component.ts
Due: pnpm run format

chore: use ts-ignore instead of ts-expect-error
  projects/ngx-meta/example-apps/templates/module/src/app/app.component.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/app.component.ts
Due: pnpm run format

build: add ESLint to example apps infra (#969)
  .lintstagedrc.json
  angular.json
  projects/ngx-meta/example-apps/.eslintrc.json
  projects/ngx-meta/example-apps/src/parse-args.ts
  projects/ngx-meta/example-apps/templates/module/src/app/app.component.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/app.component.ts
Due: pnpm run format

build: improve lint-staged setup
  .ci/Makefile
  .github/workflows/reusable-lint.yml
  .lintstagedrc.json
  angular.json
  package.json
Due: pnpm run format, pnpm run lint:gh-actions

build: improve lint-staged setup (#970)
  .ci/Makefile
  .github/workflows/reusable-lint.yml
  .lintstagedrc.json
  angular.json
  package.json
Due: pnpm run format, pnpm run lint:gh-actions

build: add Jest run config for JetBrains IDEs
  .idea/runConfigurations/Unit_tests__schematics.xml
Due: pnpm run format

build: remove linter warning in jest.config.js [skip ci]
  .eslintrc.json
Due: pnpm run format

build: add code coverage to schematic tests
  .ci/Makefile
  .eslintrc.json
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-test.yml
  CONTRIBUTING.md
  jest.config.js
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/e2e/cypress/support/coverage.ts
  projects/ngx-meta/schematics/jest.config.js
Due: pnpm run format, pnpm run lint:gh-actions

build: add code coverage to schematic tests (#971)
  .ci/Makefile
  .eslintrc.json
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-test.yml
  CONTRIBUTING.md
  jest.config.js
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/e2e/cypress/support/coverage.ts
  projects/ngx-meta/schematics/jest.config.js
Due: pnpm run format, pnpm run lint:gh-actions

ci: configure Jest for GitHub Actions reporting
  jest.config.js
Due: pnpm run format

ci: configure Jest for GitHub Actions reporting (#972)
  jest.config.js
Due: pnpm run format

test: refactor ng-add test to do same for standalone and module
  projects/ngx-meta/schematics/ng-add/index.spec.ts
Due: pnpm run format

test: refactor ng-add test to do same for standalone and module (#973)
  projects/ngx-meta/schematics/ng-add/index.spec.ts
Due: pnpm run format

test: refactor `ng-add` to make it easier to add moar tests
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/testing/get-app-config-or-app-module-content.ts
  projects/ngx-meta/schematics/ng-add/testing/provider-test-case.ts
  projects/ngx-meta/schematics/ng-add/testing/should-add-root-provider.ts
  projects/ngx-meta/schematics/testing/create-test-app.ts
  projects/ngx-meta/schematics/testing/get-file-content.ts
  projects/ngx-meta/schematics/testing/regexp-escape.ts
  projects/ngx-meta/schematics/testing/strip-whitespace.ts
Due: pnpm run format

test: refactor `ng-add` to make it easier to add moar tests (#974)
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/testing/get-app-config-or-app-module-content.ts
  projects/ngx-meta/schematics/ng-add/testing/provider-test-case.ts
  projects/ngx-meta/schematics/ng-add/testing/should-add-root-provider.ts
  projects/ngx-meta/schematics/testing/create-test-app.ts
  projects/ngx-meta/schematics/testing/get-file-content.ts
  projects/ngx-meta/schematics/testing/regexp-escape.ts
  projects/ngx-meta/schematics/testing/strip-whitespace.ts
Due: pnpm run format

feat: ask whether to add routing in `ng-add` schematic
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
  projects/ngx-meta/schematics/ng-add/schema.json
  projects/ngx-meta/schematics/ng-add/schema.ts
  projects/ngx-meta/schematics/ng-add/testing/should-not-add-root-provider.ts
Due: pnpm run format

feat: ask whether to add routing in `ng-add` schematic (#975)
  projects/ngx-meta/schematics/ng-add/index.spec.ts
  projects/ngx-meta/schematics/ng-add/index.ts
  projects/ngx-meta/schematics/ng-add/schema.json
  projects/ngx-meta/schematics/ng-add/schema.ts
  projects/ngx-meta/schematics/ng-add/testing/should-not-add-root-provider.ts
Due: pnpm run format

Notes added by 'git notes add'
  d0355bcb2558ed21369d5444f7509ae322e471e5
Due: pnpm run format

chore(release): update CHANGELOG.md (#976)
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format
