Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run ng-lint-staged, pnpm run lint:gh-actions

.lintstagedrc.json:

{
  "*": ["pnpm run format"],
  "projects/ngx-meta/src/**/*.ts": ["pnpm run ng-lint-staged"],
  ".github/**/*.{yml,yaml}": ["pnpm run lint:gh-actions"]
}

refactor: move Open Graph main types into directory
  projects/ngx-meta/src/open-graph/index.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/index.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-description-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/profile/utils/make-open-graph-profile-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/types/index.ts
  projects/ngx-meta/src/open-graph/src/types/open-graph-metadata.ts
  projects/ngx-meta/src/open-graph/src/types/open-graph.ts
  projects/ngx-meta/src/open-graph/src/utils/make-open-graph-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: move Open Graph main types into directory (#871)
  projects/ngx-meta/src/open-graph/index.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/index.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-description-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/profile/utils/make-open-graph-profile-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/types/index.ts
  projects/ngx-meta/src/open-graph/src/types/open-graph-metadata.ts
  projects/ngx-meta/src/open-graph/src/types/open-graph.ts
  projects/ngx-meta/src/open-graph/src/utils/make-open-graph-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: turn metadata registry into a lightweight token
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/src/loader/provide-ngx-meta-metadata-loader.ts
  projects/ngx-meta/src/core/src/managers/metadata-registry.spec.ts
  projects/ngx-meta/src/core/src/managers/metadata-registry.ts
  projects/ngx-meta/src/core/src/managers/ngx-meta-metadata-manager.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: turn metadata registry into a lightweight token (#872)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/src/loader/provide-ngx-meta-metadata-loader.ts
  projects/ngx-meta/src/core/src/managers/metadata-registry.spec.ts
  projects/ngx-meta/src/core/src/managers/metadata-registry.ts
  projects/ngx-meta/src/core/src/managers/ngx-meta-metadata-manager.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: use core provider API from module API
  projects/ngx-meta/src/core/src/providers/core-feature.ts
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: use core provider API from module API (#874)
  projects/ngx-meta/src/core/src/providers/core-feature.ts
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: turn meta service into abstract class with factory provider
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/src/managers/metadata-registry.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-resolver.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

feat: change provider API to return environment providers
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/routing/src/providers/ngx-meta-routing.module.ts
  projects/ngx-meta/src/routing/src/providers/provide-ngx-meta-routing.ts
Due: pnpm run format, pnpm run ng-lint-staged

feat: change provider API to return environment providers (#875)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/routing/src/providers/ngx-meta-routing.module.ts
  projects/ngx-meta/src/routing/src/providers/provide-ngx-meta-routing.ts
Due: pnpm run format, pnpm run ng-lint-staged

Notes added by 'git notes add'
  2d84e04f10b466f4fd1f4810d10ee416eb77f38b
Due: pnpm run format

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

chore(release): update CHANGELOG.md (#876)
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

test: improve router listener unit tests
  projects/ngx-meta/src/routing/src/listener/router-listener.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

test: improve router listener unit tests (#877)
  projects/ngx-meta/src/routing/src/listener/router-listener.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: turn meta service into abstract class with factory provider (#873)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/src/managers/metadata-registry.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-resolver.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: export BaseUrl type
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/src/url-resolution/base-url.ts
  projects/ngx-meta/src/core/src/url-resolution/index.ts
  projects/ngx-meta/src/core/src/url-resolution/relative-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/with-ngx-meta-base-url.ts
Due: pnpm run format, pnpm run ng-lint-staged

fix: add withNgxMetaBaseUrl to module after rebase
  projects/ngx-meta/example-apps/templates/module/src/app/app.module.template.ts
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: remove unneeded underscore prefixes for non exported APIs
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.spec.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
  projects/ngx-meta/src/core/src/url-resolution/no-op-relative-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/no-op-relative-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/relative-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/relative-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/with-ngx-meta-base-url.ts
Due: pnpm run format, pnpm run ng-lint-staged

docs: small improvements
  projects/ngx-meta/docs/content/guides/url-resolution.md
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
  projects/ngx-meta/src/core/src/url-resolution/with-ngx-meta-base-url.ts
Due: pnpm run format, pnpm run ng-lint-staged

test: fix url resolver test issue after refactor
  projects/ngx-meta/src/core/src/url-resolution/url-resolver.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: provide no op relative url resolver by default
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.spec.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
  projects/ngx-meta/src/core/src/url-resolution/default-relative-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/default-relative-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/no-op-relative-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/relative-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/relative-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/with-ngx-meta-base-url.ts
Due: pnpm run format, pnpm run ng-lint-staged

test: move empty relative URL test to URL resolver
  projects/ngx-meta/src/core/src/url-resolution/default-relative-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/url-resolver.spec.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: remove relative URL resolver
  projects/ngx-meta/src/core/src/url-resolution/default-relative-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/default-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/default-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/no-op-relative-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/no-op-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/no-op-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/relative-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/relative-url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/url-resolver.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/url-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/with-ngx-meta-base-url.ts
Due: pnpm run format, pnpm run ng-lint-staged

Notes added by 'git notes add'
  712436fe09157eee9912a6ca24a3d626da0dfa57
Due: pnpm run format

chore(release): update CHANGELOG.md (#878)
  projects/ngx-meta/src/CHANGELOG.md
Due: pnpm run format

refactor: add isDefined util
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/head-elements/head-element-upsert-or-remove.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-json-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/default-url-resolver.ts
  projects/ngx-meta/src/core/src/utils/index.ts
  projects/ngx-meta/src/core/src/utils/is-defined.ts
  projects/ngx-meta/src/json-ld/src/managers/json-ld-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-locale-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-title-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

refactor: add isDefined util (#879)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/head-elements/head-element-upsert-or-remove.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-json-resolver.ts
  projects/ngx-meta/src/core/src/url-resolution/default-url-resolver.ts
  projects/ngx-meta/src/core/src/utils/index.ts
  projects/ngx-meta/src/core/src/utils/is-defined.ts
  projects/ngx-meta/src/json-ld/src/managers/json-ld-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-locale-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-title-metadata-provider.ts
Due: pnpm run format, pnpm run ng-lint-staged

chore: improve Cypress setup
  projects/ngx-meta/e2e/cypress/support/commands.ts
  projects/ngx-meta/e2e/cypress/support/cypress.d.ts
Due: pnpm run format

chore: improve Cypress setup (#880)
  projects/ngx-meta/e2e/cypress/support/commands.ts
  projects/ngx-meta/e2e/cypress/support/cypress.d.ts
Due: pnpm run format

fix: standard theme color metadata can't set two metas
  projects/ngx-meta/e2e/cypress/fixtures/all-metadata.json
  projects/ngx-meta/e2e/cypress/support/commands.ts
  projects/ngx-meta/e2e/cypress/support/cypress.d.ts
  projects/ngx-meta/e2e/cypress/support/metadata/standard.ts
Due: pnpm run format

docs: minor improvements
  projects/ngx-meta/docs/content/built-in-modules/json-ld.md
  projects/ngx-meta/docs/content/built-in-modules/standard.md
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
Due: pnpm run format, pnpm run ng-lint-staged

docs: minor improvements (#884)
  projects/ngx-meta/docs/content/built-in-modules/json-ld.md
  projects/ngx-meta/docs/content/built-in-modules/standard.md
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
Due: pnpm run format, pnpm run ng-lint-staged

build: rename docs install target to setup
  .idea/runConfigurations/ngx_meta_docs__install.xml
  .idea/runConfigurations/ngx_meta_docs__setup.xml
  projects/ngx-meta/docs/Makefile
  projects/ngx-meta/docs/README.md
Due: pnpm run format

build: rename docs install target to setup (#885)
  .idea/runConfigurations/ngx_meta_docs__install.xml
  .idea/runConfigurations/ngx_meta_docs__setup.xml
  projects/ngx-meta/docs/Makefile
  projects/ngx-meta/docs/README.md
Due: pnpm run format

ci: fix docs pipeline
  .github/workflows/reusable-docs.yml
Due: pnpm run format, pnpm run lint:gh-actions

ci: fix docs pipeline (#886)
  .github/workflows/reusable-docs.yml
Due: pnpm run format, pnpm run lint:gh-actions

build: bundle size workflow improvements
  .gitignore
  .idea/runConfigurations/ngx_meta_bundle_size_v18__report.xml
Due: pnpm run format
