Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

build: fix unbound variable in bundle size analyze script (#1042)
  projects/ngx-meta/bundle-size/analyze.sh
Due: none

perf: remove ANGULAR_ROUTER_URL if unused (#1043)
  projects/ngx-meta/src/core/src/url-resolution/angular-router-url.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  18e4eb4b9dbe45a5096847361877cd23039f715e
Due: none

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md (#1044)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore: remove alpha state comment from elements service
  projects/ngx-meta/src/core/src/meta-elements/v2/ngx-meta-elements.service.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

build(ide): fix mistake in tsconfig solution file [skip ci]
  projects/ngx-meta/src/tsconfig.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: return generic `Provider` type for providers
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/src/loader/ngx-meta-metadata-loader.module.ts
  projects/ngx-meta/src/core/src/loader/provide-ngx-meta-metadata-loader.ts
  projects/ngx-meta/src/core/src/managers/provider/v2/provide-ngx-meta-manager.ts
  projects/ngx-meta/src/json-ld/src/providers/ngx-meta-json-ld.module.ts
  projects/ngx-meta/src/json-ld/src/providers/provide-ngx-meta-json-ld.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/providers/ngx-meta-open-graph.module.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/providers/provide-ngx-meta-open-graph.ts
  projects/ngx-meta/src/open-graph/src/profile/providers/ngx-meta-open-graph-profile.module.ts
  projects/ngx-meta/src/open-graph/src/profile/providers/provide-ngx-meta-open-graph-profile.ts
  projects/ngx-meta/src/standard/src/providers/ngx-meta-standard.module.ts
  projects/ngx-meta/src/standard/src/providers/provide-ngx-meta-standard.ts
  projects/ngx-meta/src/twitter-card/src/providers/ngx-meta-twitter-card.module.ts
  projects/ngx-meta/src/twitter-card/src/providers/provide-ngx-meta-twitter-card.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: return generic `Provider` type for providers (#1045)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/src/loader/ngx-meta-metadata-loader.module.ts
  projects/ngx-meta/src/core/src/loader/provide-ngx-meta-metadata-loader.ts
  projects/ngx-meta/src/core/src/managers/provider/v2/provide-ngx-meta-manager.ts
  projects/ngx-meta/src/json-ld/src/providers/ngx-meta-json-ld.module.ts
  projects/ngx-meta/src/json-ld/src/providers/provide-ngx-meta-json-ld.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/providers/ngx-meta-open-graph.module.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/providers/provide-ngx-meta-open-graph.ts
  projects/ngx-meta/src/open-graph/src/profile/providers/ngx-meta-open-graph-profile.module.ts
  projects/ngx-meta/src/open-graph/src/profile/providers/provide-ngx-meta-open-graph-profile.ts
  projects/ngx-meta/src/standard/src/providers/ngx-meta-standard.module.ts
  projects/ngx-meta/src/standard/src/providers/provide-ngx-meta-standard.ts
  projects/ngx-meta/src/twitter-card/src/providers/ngx-meta-twitter-card.module.ts
  projects/ngx-meta/src/twitter-card/src/providers/provide-ngx-meta-twitter-card.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: turn Open Graph providers into tree-shakeable ones
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/index.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-description-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-url-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-description.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-image.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-image.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-locale.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-site-name.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-title.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-type.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-url.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-url.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/providers/provide-ngx-meta-open-graph.ts
  projects/ngx-meta/src/open-graph/src/types/open-graph.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat: add pure but deprecated Open Graph const providers
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/index.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-description.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-image.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-locale.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-site-name.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-title.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-type.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-url.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: hide JSON-LD provider
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/json-ld/index.ts
  projects/ngx-meta/src/json-ld/src/managers/index.ts
  projects/ngx-meta/src/json-ld/src/providers/provide-ngx-meta-json-ld.ts
  projects/ngx-meta/src/json-ld/src/types/json-ld-metadata.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: turn JSON-LD providers into tree-shakeable ones
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/json-ld/index.ts
  projects/ngx-meta/src/json-ld/src/managers/index.ts
  projects/ngx-meta/src/json-ld/src/managers/json-ld-metadata-provider.ts
  projects/ngx-meta/src/json-ld/src/providers/provide-ngx-meta-json-ld.ts
  projects/ngx-meta/src/json-ld/src/types/index.ts
  projects/ngx-meta/src/json-ld/src/types/json-ld-metadata.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: rename provide json-ld file
  projects/ngx-meta/src/json-ld/src/managers/index.ts
  projects/ngx-meta/src/json-ld/src/managers/provide-json-ld-in-head.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: turn Open Graph profile providers into tree-shakeable
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/open-graph/src/profile/managers/index.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/open-graph-profile-first-name-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/open-graph-profile-gender-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/open-graph-profile-last-name-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/open-graph-profile-username-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/open-graph-profile.ts
  projects/ngx-meta/src/open-graph/src/profile/providers/provide-ngx-meta-open-graph-profile.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: turn Twitter Card providers into tree-shakeable ones
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/twitter-card/src/managers/index.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-card.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-creator.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-description.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-image.spec.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-image.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-site.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-title.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-creator-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-creator-username.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-creator.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-image-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-image.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-site-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-site.ts
  projects/ngx-meta/src/twitter-card/src/providers/provide-ngx-meta-twitter-card.ts
  projects/ngx-meta/src/twitter-card/src/types/twitter-card.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: turn standard providers into tree-shakeable ones
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/docs/content/guides/custom-metadata-providers-selection.md
  projects/ngx-meta/src/standard/src/managers/index.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-application-name.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-author.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-canonical-url.spec.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-canonical-url.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-description.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-generator.spec.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-generator.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-keywords.spec.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-keywords.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-locale.spec.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-locale.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-theme-color.spec.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-theme-color.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-title.spec.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-title.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-locale-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-theme-color-metadata-provider.ts
  projects/ngx-meta/src/standard/src/providers/provide-ngx-meta-standard.ts
  projects/ngx-meta/src/standard/src/types/standard.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat: add pure but deprecated standard const providers
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/standard/src/managers/index.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-application-name.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-author.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-canonical-url.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-description.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-generator.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-keywords.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-locale.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-theme-color.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-title.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat: add pure but deprecated Open Graph profile const providers
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/open-graph/src/profile/managers/index.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/provide-open-graph-profile-first-name.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/provide-open-graph-profile-gender.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/provide-open-graph-profile-last-name.ts
  projects/ngx-meta/src/open-graph/src/profile/managers/provide-open-graph-profile-username.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat: add pure but deprecated Twitter Card const providers
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/twitter-card/src/managers/index.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-card.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-creator.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-description.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-image.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-site.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-title.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat: add pure but deprecated JSON-LD const provider
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/json-ld/index.ts
  projects/ngx-meta/src/json-ld/src/managers/index.ts
  projects/ngx-meta/src/json-ld/src/managers/provide-json-ld-in-head.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

ci: allow to [skip release] based on commit msg
  .github/workflows/reusable-release.yml
Due: pnpm run lint:gh-actions

docs: add migration guide for breaking change
  projects/ngx-meta/docs/content/migrations/tree-shakeable-manager-providers.md
  projects/ngx-meta/docs/includes/common-links.md
  projects/ngx-meta/docs/mkdocs.yml
Due: none

chore: update docs with latest changes
  projects/ngx-meta/docs/content/migrations/const-to-function-manager-providers.md
  projects/ngx-meta/docs/content/migrations/tree-shakeable-manager-providers.md
  projects/ngx-meta/docs/mkdocs.yml
Due: none

docs: add migration guide for breaking change (#1013)
  projects/ngx-meta/docs/content/migrations/const-to-function-manager-providers.md
  projects/ngx-meta/docs/includes/common-links.md
  projects/ngx-meta/docs/mkdocs.yml
Due: none

feat: add migration schematic for breaking changes
  jest.config.js
  projects/ngx-meta/schematics/external-utils/README.md
  projects/ngx-meta/schematics/external-utils/angular-devkit/core/src/utils/strings.ts
  projects/ngx-meta/schematics/external-utils/schematics/angular/utility/change.ts
  projects/ngx-meta/schematics/migrations.json
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/index.spec.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/index.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/maybe-get-new-identifier-from-old-identifier.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/testing/replacements.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/update-imports.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/update-usages.ts
  projects/ngx-meta/schematics/utils/apply-changes.ts
  projects/ngx-meta/schematics/utils/is-defined.ts
  projects/ngx-meta/src/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: update replacement for JSON-LD
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/maybe-get-new-identifier-from-old-identifier.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/testing/replacements.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: minor review changes
  projects/ngx-meta/schematics/migrations.json
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/index.spec.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/testing/replacements.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

fix: properly setup migrations infra
  projects/ngx-meta/schematics/migrations.json
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/index.ts
  projects/ngx-meta/schematics/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: update migration description
  projects/ngx-meta/schematics/migrations.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

perf: skip node_modules files
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/index.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/maybe-get-new-identifier-from-old-identifier.ts
  projects/ngx-meta/schematics/utils/get-all-typescript-files.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

build: add watch command
  projects/ngx-meta/schematics/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

refactor: rename to `const-to-function-manager-providers`
  projects/ngx-meta/schematics/migrations.json
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/index.spec.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/index.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/maybe-get-new-identifier-from-old-identifier.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/testing/replacements.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/update-imports.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/update-usages.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

test: ensure schematic utils are tested properly
  jest.config.js
  projects/ngx-meta/schematics/utils/get-all-typescript-files.spec.ts
  projects/ngx-meta/schematics/utils/get-all-typescript-files.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

style: apply new linter rules
  projects/ngx-meta/schematics/package.json
  projects/ngx-meta/schematics/utils/get-all-typescript-files.spec.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

test: fix test failing due to content filters
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/index.spec.ts
  projects/ngx-meta/schematics/migrations/tree-shakeable-manager-providers/testing/replacements.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: update migration version
  projects/ngx-meta/schematics/migrations.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

docs: add migration guide for const to function manager providers (#1013)
  projects/ngx-meta/docs/content/migrations/const-to-function-manager-providers.md
  projects/ngx-meta/docs/includes/common-links.md
  projects/ngx-meta/docs/mkdocs.yml
Due: none

Path conditions:
  pnpm run lint:code:files --fix: any of: *.{ts,json}
  pnpm run format:files: any of: *.{ts,json}
  pnpm run lint:gh-actions: any of: .github/**/*.{yml,yaml}
