Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

feat: add title formatter infra
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/formatter/index.ts
  projects/ngx-meta/src/core/src/formatter/title-formatter.spec.ts
  projects/ngx-meta/src/core/src/formatter/title-formatter.ts
  projects/ngx-meta/src/core/src/formatter/with-ngx-meta-title-formatter.ts
  projects/ngx-meta/src/core/src/providers/core-feature.ts
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat: use title formatter in std, og and twitter cards
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-title.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-title.ts
  projects/ngx-meta/src/open-graph/src/types/open-graph.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-title.spec.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-title.ts
  projects/ngx-meta/src/standard/src/types/standard.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-title.spec.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-title.ts
  projects/ngx-meta/src/twitter-card/src/types/twitter-card.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

docs: add title formatting docs
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/title-formatting.md
  projects/ngx-meta/docs/content/guides/url-resolution.md
  projects/ngx-meta/docs/content/why/features.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/core/src/formatter/title-formatter.ts
  projects/ngx-meta/src/core/src/formatter/with-ngx-meta-title-formatter.ts
  projects/ngx-meta/src/core/src/globals/global-metadata.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat: page title format (#1128)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/title-formatting.md
  projects/ngx-meta/docs/content/guides/url-resolution.md
  projects/ngx-meta/docs/content/why/features.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/core/index.ts
  projects/ngx-meta/src/core/src/formatter/index.ts
  projects/ngx-meta/src/core/src/formatter/title-formatter.spec.ts
  projects/ngx-meta/src/core/src/formatter/title-formatter.ts
  projects/ngx-meta/src/core/src/formatter/with-ngx-meta-title-formatter.ts
  projects/ngx-meta/src/core/src/globals/global-metadata.ts
  projects/ngx-meta/src/core/src/providers/core-feature.ts
  projects/ngx-meta/src/core/src/providers/ngx-meta-core.module.ts
  projects/ngx-meta/src/core/src/providers/provide-ngx-meta-core.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-title.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/provide-open-graph-title.ts
  projects/ngx-meta/src/open-graph/src/types/open-graph.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-title.spec.ts
  projects/ngx-meta/src/standard/src/managers/provide-standard-title.ts
  projects/ngx-meta/src/standard/src/types/standard.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-title.spec.ts
  projects/ngx-meta/src/twitter-card/src/managers/provide-twitter-card-title.ts
  projects/ngx-meta/src/twitter-card/src/types/twitter-card.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  67efe00c2601dbd1fac9cf2f2cc15cddfdbf839b
Due: none

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md (#1129)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

build(ide): rename Karma template run config
  .idea/runConfigurations/_template__of_Karma.xml
Due: none

refactor: join CICD pipelines in one workflow
  .github/workflows/cicd.yml
  .github/workflows/main.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-release.yml
Due: pnpm run lint:gh-actions

refactor: join CICD pipelines in one workflow (#1141)
  .github/workflows/cicd.yml
  .github/workflows/main.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-release.yml
Due: pnpm run lint:gh-actions

ci: reduce number of times load-config job runs
  .github/workflows/cicd.yml
  .github/workflows/pull-request-completed.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run lint:gh-actions

refactor: rename vars to `ng-cli-version-alias` for consistency
  .github/actions/config/action.yml
  .github/workflows/cicd.yml
  .github/workflows/pull-request-completed.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run lint:gh-actions

ci: reduce number of times load-config job runs (#1143)
  .github/actions/config/action.yml
  .github/workflows/cicd.yml
  .github/workflows/pull-request-completed.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
Due: pnpm run lint:gh-actions

docs: update link to main CI/CD workflow
  projects/ngx-meta/docs/content/why/comparison.md
  projects/ngx-meta/src/README.md
Due: none

feat!: launch first production version :rocket:
  .releaserc.js
  projects/ngx-meta/docs/content/why/features.md
  projects/ngx-meta/docs/prebuild.sh
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/core/src/formatter/title-formatter.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

ci: fix pull request completed workflow
  .github/workflows/cicd-completed.yml
Due: pnpm run lint:gh-actions

ci: fix pull request completed workflow (#1145)
  .github/workflows/cicd-completed.yml
Due: pnpm run lint:gh-actions

build: prepare for major version maintenance branches
  .github/workflows/cicd.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-e2e.yml
  .npmrc
  .releaserc.js
  knip.jsonc
  semantic-release-local.sh
Due: pnpm run lint:gh-actions

build: prepare for major version maintenance branches (#1146)
  .github/workflows/cicd.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-e2e.yml
  .npmrc
  .releaserc.js
  knip.jsonc
  semantic-release-local.sh
Due: pnpm run lint:gh-actions

Notes added by 'git notes add'
  0800b3573fada9b7beafdcb730371552af689d01
Due: none

ci: restrict GITHUB_TOKEN permissions
  .github/workflows/cicd-completed.yml
  .github/workflows/cicd.yml
Due: pnpm run lint:gh-actions

chore: keep releasing beta versions for now
  .releaserc.js
Due: none

ci: restrict GITHUB_TOKEN permissions (#1147)
  .github/workflows/cicd-completed.yml
  .github/workflows/cicd.yml
Due: pnpm run lint:gh-actions

ci: fix GITHUB_TOKEN privileges on reusable workflows
  .github/workflows/reusable-api-extractor.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-style.yml
  .github/workflows/reusable-test.yml
Due: pnpm run lint:gh-actions

ci: set contents permission to none
  .github/workflows/reusable-api-extractor.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-style.yml
  .github/workflows/reusable-test.yml
Due: pnpm run lint:gh-actions

ci: fix GITHUB_TOKEN privileges on reusable workflows (#1148)
  .github/workflows/reusable-api-extractor.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-bundle-size.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-example-apps.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-style.yml
  .github/workflows/reusable-test.yml
Due: pnpm run lint:gh-actions

feat!: launch first production version :rocket: (#1144)
  .releaserc.js
  projects/ngx-meta/docs/content/why/features.md
  projects/ngx-meta/docs/prebuild.sh
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/core/src/formatter/title-formatter.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

build: support only actively supported versions
  projects/ngx-meta/docs/content/why/features.md
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/package.json
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

docs: update install docs with temporal comment
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/manual-setup.md
Due: none

build: support only actively supported versions (#1149)
  projects/ngx-meta/docs/content/get-started.md
  projects/ngx-meta/docs/content/guides/manual-setup.md
  projects/ngx-meta/docs/content/why/features.md
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/package.json
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: back to beta for now [skip ci]
  .releaserc.js
Due: none

chore: use Renovate shared preset
  renovate.json5
Due: none

chore: use Renovate shared preset (#1150)
  renovate.json5
Due: none

Notes added by 'git notes add'
  4c573ac6c8615195b6c60ecafa234b553b41ff2b
Due: none

chore(release): update CHANGELOG.md (#1151)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

feat!: publish first production version v19 :rocket:
  .releaserc.js
Due: none

feat!: publish first production version v19 :rocket: (#1152)
  .releaserc.js
Due: none

Notes added by 'git notes add'
  212c38557e3792d5a79cc3b6b755978f97129a2d
Due: none

Path conditions:
  pnpm run lint:code:files --fix: any of: *.{ts,json}
  pnpm run format:files: any of: *.{ts,json}
  pnpm run lint:gh-actions: any of: .github/**/*.{yml,yaml}
