Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

chore: add emojis to CHANGELOG [skip ci]
  .releaserc.js
Due: none

feat: add migration schematic for function-based providers (#1005)
  jest.config.js
  projects/ngx-meta/schematics/external-utils/README.md
  projects/ngx-meta/schematics/external-utils/angular-devkit/core/src/utils/strings.ts
  projects/ngx-meta/schematics/external-utils/schematics/angular/utility/change.ts
  projects/ngx-meta/schematics/migrations.json
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/index.spec.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/index.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/maybe-get-new-identifier-from-old-identifier.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/testing/replacements.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/update-imports.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/update-usages.ts
  projects/ngx-meta/schematics/package.json
  projects/ngx-meta/schematics/utils/apply-changes.ts
  projects/ngx-meta/schematics/utils/get-all-typescript-files.spec.ts
  projects/ngx-meta/schematics/utils/get-all-typescript-files.ts
  projects/ngx-meta/schematics/utils/is-defined.ts
  projects/ngx-meta/src/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  2c5649e7dba8ed29b0649fc1b61c606678b36bc1
Due: none

chore(release): update CHANGELOG.md
  projects/ngx-meta/src/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md (#1047)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

docs: add prefix to migration docs files to sort them
  projects/ngx-meta/docs/content/migrations/03-const-to-function-manager-providers.md
  projects/ngx-meta/docs/mkdocs.yml
Due: none

docs: add migration document for meta element APIs
  .idea/inspectionProfiles/Project_Default.xml
  .idea/scopes/ngx_meta_doc_contents.xml
  projects/ngx-meta/docs/content/migrations/01-meta-element-apis.md
  projects/ngx-meta/docs/mkdocs.yml
Due: none

docs: update deprecation notices to link to migration doc
  projects/ngx-meta/src/core/src/meta-elements/v1/make-composed-key-val-meta-definition.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/make-key-val-meta-definition.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/ngx-meta-meta-content.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/ngx-meta-meta-definition.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/ngx-meta-meta.service.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

style: remove prettier formatting for grid, shorter display
  projects/ngx-meta/docs/content/migrations/01-meta-element-apis.md
Due: none

docs: add migration document for meta element APIs (#1048)
  .idea/inspectionProfiles/Project_Default.xml
  .idea/scopes/ngx_meta_doc_contents.xml
  projects/ngx-meta/docs/content/migrations/01-meta-element-apis.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/src/core/src/meta-elements/v1/make-composed-key-val-meta-definition.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/make-key-val-meta-definition.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/ngx-meta-meta-content.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/ngx-meta-meta-definition.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/ngx-meta-meta.service.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

docs: add migration doc for metadata manager provider APIs
  projects/ngx-meta/docs/content/migrations/01-meta-element-apis.md
  projects/ngx-meta/docs/content/migrations/02-manager-provider-apis.md
  projects/ngx-meta/docs/content/migrations/03-const-to-function-manager-providers.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/src/core/src/managers/provider/v1/make-metadata-manager-provider-from-setter-factory.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

docs: add migration doc for metadata manager provider APIs (#1049)
  projects/ngx-meta/docs/content/migrations/01-meta-element-apis.md
  projects/ngx-meta/docs/content/migrations/02-manager-provider-apis.md
  projects/ngx-meta/docs/content/migrations/03-const-to-function-manager-providers.md
  projects/ngx-meta/docs/mkdocs.yml
  projects/ngx-meta/src/core/src/managers/provider/v1/make-metadata-manager-provider-from-setter-factory.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

docs: update docs to point to migration docs
  projects/ngx-meta/docs/content/guides/manage-your-custom-metadata.md
  projects/ngx-meta/docs/content/migrations/01-meta-element-apis.md
  projects/ngx-meta/docs/content/migrations/02-manager-provider-apis.md
  projects/ngx-meta/docs/content/migrations/03-const-to-function-manager-providers.md
  projects/ngx-meta/docs/includes/ngx-meta-elements-service.md
Due: none

docs: add link to migrations
  projects/ngx-meta/src/README.md
Due: none

docs: update docs to point to migration docs (#1050)
  projects/ngx-meta/docs/content/guides/manage-your-custom-metadata.md
  projects/ngx-meta/docs/content/migrations/01-meta-element-apis.md
  projects/ngx-meta/docs/content/migrations/02-manager-provider-apis.md
  projects/ngx-meta/docs/content/migrations/03-const-to-function-manager-providers.md
  projects/ngx-meta/docs/includes/ngx-meta-elements-service.md
  projects/ngx-meta/src/README.md
Due: none

build: ensure all scripts are removed when testing SSR
  projects/ngx-meta/e2e/cypress/support/commands.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

build: ensure all scripts are removed when testing SSR (#1051)
  projects/ngx-meta/e2e/cypress/support/commands.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

feat: add support for Angular v19
  projects/ngx-meta/docs/content/misc/bundle-size.md
  projects/ngx-meta/docs/content/why/comparison.md
  projects/ngx-meta/docs/content/why/features.md
  projects/ngx-meta/e2e/README.md
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/package.json
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

build(ide): update WebStorm run configs to run with v19
  .idea/runConfigurations/ngx_meta_bundle_size_v19__report.xml
  .idea/runConfigurations/ngx_meta_e2e_v19__build_with_coverage__serve___test.xml
  .idea/runConfigurations/ngx_meta_example_apps_v18__create_example_app.xml
  .idea/runConfigurations/ngx_meta_example_apps_v19__build___compare_sizes.xml
  .idea/runConfigurations/ngx_meta_example_apps_v19__build___serve.xml
  .idea/runConfigurations/ngx_meta_example_apps_v19__create_example_app.xml
Due: none

feat: add support for Angular v19 (#1052)
  .idea/runConfigurations/ngx_meta_bundle_size_v19__report.xml
  .idea/runConfigurations/ngx_meta_e2e_v19__build_with_coverage__serve___test.xml
  .idea/runConfigurations/ngx_meta_example_apps_v18__create_example_app.xml
  .idea/runConfigurations/ngx_meta_example_apps_v19__build___compare_sizes.xml
  .idea/runConfigurations/ngx_meta_example_apps_v19__build___serve.xml
  .idea/runConfigurations/ngx_meta_example_apps_v19__create_example_app.xml
  projects/ngx-meta/docs/content/misc/bundle-size.md
  projects/ngx-meta/docs/content/why/comparison.md
  projects/ngx-meta/docs/content/why/features.md
  projects/ngx-meta/e2e/README.md
  projects/ngx-meta/example-apps/angular-cli-versions.json
  projects/ngx-meta/src/README.md
  projects/ngx-meta/src/package.json
  renovate.json5
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  898152e9672f5cb1bbd160cbb2f1c156036181c2
Due: none

chore(release): update CHANGELOG.md (#1053)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

build: add knip to detect unused thingies
  .github/workflows/reusable-example-apps.yml
  .github/workflows/reusable-lint.yml
  .idea/prettier.xml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/example-apps/src/steps/setup-ssr.ts
  projects/ngx-meta/example-apps/src/steps/update-ts-config-to-import-json-files-and-set-path-mappings.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/testing/replacements.ts
  projects/ngx-meta/schematics/utils/get-all-typescript-files.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-json-resolver.ts
  projects/ngx-meta/src/core/src/utils/make-injection-token.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.ts
  projects/ngx-meta/src/standard/src/utils/provide-standard-manager.ts
  projects/ngx-meta/src/twitter-card/src/utils/provide-twitter-card-manager.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

build: disable reading Cypress config
  knip.jsonc
Due: none

build: add knip to detect unused thingies (#1066)
  .github/workflows/reusable-example-apps.yml
  .github/workflows/reusable-lint.yml
  .idea/prettier.xml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/example-apps/src/steps/setup-ssr.ts
  projects/ngx-meta/example-apps/src/steps/update-ts-config-to-import-json-files-and-set-path-mappings.ts
  projects/ngx-meta/schematics/migrations/const-to-function-manager-providers/testing/replacements.ts
  projects/ngx-meta/schematics/utils/get-all-typescript-files.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-json-resolver.ts
  projects/ngx-meta/src/core/src/utils/make-injection-token.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.ts
  projects/ngx-meta/src/standard/src/utils/provide-standard-manager.ts
  projects/ngx-meta/src/twitter-card/src/utils/provide-twitter-card-manager.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files, pnpm run lint:gh-actions

build(deps-dev): update to knip v5.42.0
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:code:files --fix, pnpm run format:files

build(deps-dev): update to knip v5.42.0 (#1067)
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:code:files --fix, pnpm run format:files

style: replace index sign by record type
  projects/ngx-meta/schematics/ng-add/index.spec.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: allow cypress postinstall script
  projects/ngx-meta/e2e/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

chore: allow cypress postinstall script (#1122)
  projects/ngx-meta/e2e/package.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

test: ensure multiple JSON-LD objects can be set
  projects/ngx-meta/e2e/cypress/fixtures/all-metadata.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

test: ensure multiple JSON-LD objects can be set (#1123)
  projects/ngx-meta/e2e/cypress/fixtures/all-metadata.json
Due: pnpm run lint:code:files --fix, pnpm run format:files

fix: update JSON-LD type to allow arrays explicitly
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/docs/content/built-in-modules/json-ld.md
  projects/ngx-meta/docs/pyproject.toml
  projects/ngx-meta/src/json-ld/src/types/json-ld-metadata.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

fix: update JSON-LD type to allow arrays explicitly (#1124)
  projects/ngx-meta/api-extractor/ngx-meta.api.md
  projects/ngx-meta/docs/content/built-in-modules/json-ld.md
  projects/ngx-meta/docs/pyproject.toml
  projects/ngx-meta/src/json-ld/src/types/json-ld-metadata.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

Notes added by 'git notes add'
  dc6bbdd271fd8b0d24b70e151f18cea320dade61
Due: none

chore(release): update CHANGELOG.md (#1125)
  projects/ngx-meta/src/CHANGELOG.md
Due: none

feat: page title format
  projects/ngx-meta/e2e/cypress/e2e/title-formatter.spec.cy.ts
  projects/ngx-meta/e2e/cypress/fixtures/routes.ts
  projects/ngx-meta/e2e/cypress/fixtures/title-format.json
  projects/ngx-meta/example-apps/templates/module/src/app/app-routing.module.ts
  projects/ngx-meta/example-apps/templates/module/src/app/app.module.template.ts
  projects/ngx-meta/example-apps/templates/module/src/app/title-formatter/title-formatter.component.html
  projects/ngx-meta/example-apps/templates/module/src/app/title-formatter/title-formatter.component.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/app.routes.ts
  projects/ngx-meta/example-apps/templates/standalone/src/app/title-formatter/title-formatter.component.html
  projects/ngx-meta/example-apps/templates/standalone/src/app/title-formatter/title-formatter.component.ts
Due: pnpm run lint:code:files --fix, pnpm run format:files

Path conditions:
  pnpm run lint:code:files --fix: any of: *.{ts,json}
  pnpm run format:files: any of: *.{ts,json}
  pnpm run lint:gh-actions: any of: .github/**/*.{yml,yaml}
