Repository davidlj95/ngx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:code:raw --fix, pnpm run format, pnpm run lint:gh-actions

.lintstagedrc.json:

{
  "!(*.{json,ts})": ["pnpm run format"],
  "*.{json,ts}": ["pnpm run lint:code:raw --fix", "pnpm run format"],
  ".github/**/*.{yml,yaml}": ["pnpm run lint:gh-actions"]
}

style: rename codecov yml validator run script
  package.json
Due: pnpm run lint:code:raw --fix, pnpm run format

build: remove unneeded `ng` run script
  package.json
Due: pnpm run lint:code:raw --fix, pnpm run format

build: remove `cache-clean` run script
  .idea/runConfigurations/ngx_meta_e2e_v18__build_with_coverage__serve___test.xml
  .idea/runConfigurations/ngx_meta_example_apps_v18__build___compare_sizes.xml
  .idea/runConfigurations/ngx_meta_example_apps_v18__build___serve.xml
  package.json
Due: pnpm run lint:code:raw --fix, pnpm run format

build: sort `package.json` files (#1032)
  .eslintrc.json
  .idea/runConfigurations/ngx_meta_e2e_v18__build_with_coverage__serve___test.xml
  .idea/runConfigurations/ngx_meta_example_apps_v18__build___compare_sizes.xml
  .idea/runConfigurations/ngx_meta_example_apps_v18__build___serve.xml
  package.json
  projects/ngx-meta/bundle-size/package.json
  projects/ngx-meta/e2e/package.json
  projects/ngx-meta/example-apps/package.json
  projects/ngx-meta/schematics/package.json
  projects/ngx-meta/src/package.json
Due: pnpm run lint:code:raw --fix, pnpm run format

build: use same pattern for format / lint run scripts
  .ci/Makefile
  .github/workflows/reusable-style.yml
  .idea/runConfigurations/Format__check__all_.xml
  .lintstagedrc.json
  CONTRIBUTING.md
  package.json
Due: pnpm run lint:code:raw --fix, pnpm run format, pnpm run lint:gh-actions

build: use same pattern for format / lint run scripts (#1033)
  .ci/Makefile
  .github/workflows/reusable-style.yml
  .idea/runConfigurations/Format__check__all_.xml
  .lintstagedrc.json
  CONTRIBUTING.md
  package.json
Due: pnpm run lint:code:raw --fix, pnpm run format, pnpm run lint:gh-actions

chore: remove unneeded entries in CI's Makefile
  .ci/Makefile
  .github/workflows/reusable-api-extractor.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
Due: pnpm run lint:gh-actions

docs: update CONTRIBUTING.md with purpose of Makefile
  CONTRIBUTING.md
Due: none

chore: remove unneeded entries in CI's Makefile (#1034)
  .ci/Makefile
  .github/workflows/reusable-api-extractor.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
  CONTRIBUTING.md
Due: pnpm run lint:gh-actions

build(lint): remove lint system
  .eslintrc.json
  angular.json
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/.eslintrc.json
  projects/ngx-meta/docs/.eslintrc.json
  projects/ngx-meta/e2e/.eslintrc.json
  projects/ngx-meta/example-apps/.eslintrc.json
  projects/ngx-meta/schematics/.eslintrc.json
  projects/ngx-meta/src/.eslintrc.json
Due: pnpm run lint:code:raw --fix, pnpm run format

build(lint): add linter with Angular ESLint
  angular.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  projects/ngx-meta/src/eslint.config.js
Due: pnpm run lint:code:raw --fix, pnpm run format

build(ide): hoist `@eslint/js` for WebStorm ESLint to work
  .gitignore
  .npmrc
  eslint.config.js
Due: none

build: revert eslint to 9.14.0
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:code:raw --fix, pnpm run format

style: fix autofixable linting issues
  projects/ngx-meta/src/__tests__/resolver-object-merging.spec.ts
  projects/ngx-meta/src/core/src/managers/__tests__/make-metadata-manager-spy.ts
  projects/ngx-meta/src/core/src/managers/metadata-registry.spec.ts
  projects/ngx-meta/src/core/src/managers/ngx-meta-metadata-manager.ts
  projects/ngx-meta/src/core/src/managers/provider/v2/provide-ngx-meta-manager.ts
  projects/ngx-meta/src/core/src/managers/provider/v2/provide-ngx-meta-module-manager.ts
  projects/ngx-meta/src/core/src/meta-elements/v1/make-composed-key-val-meta-definition.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/composed-metadata-name.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/ngx-meta-element-attributes.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/ngx-meta-elements.service.spec.ts
  projects/ngx-meta/src/core/src/meta-elements/v2/ngx-meta-elements.service.ts
  projects/ngx-meta/src/core/src/providers/core-feature.ts
  projects/ngx-meta/src/core/src/url-resolution/default-url-resolver.spec.ts
  projects/ngx-meta/src/core/src/utils/with-options.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/profile/utils/provide-open-graph-profile-manager.ts
  projects/ngx-meta/src/open-graph/src/utils/provide-open-graph-manager.ts
  projects/ngx-meta/src/open-graph/src/utils/with-open-graph-property-attribute.ts
  projects/ngx-meta/src/standard/src/managers/standard-theme-color-metadata-provider.ts
  projects/ngx-meta/src/standard/src/managers/standard-theme-color-metadata.ts
  projects/ngx-meta/src/standard/src/types/standard.ts
  projects/ngx-meta/src/standard/src/utils/provide-standard-manager.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-image-metadata-provider.spec.ts
  projects/ngx-meta/src/twitter-card/src/utils/provide-twitter-card-manager.ts
  projects/ngx-meta/src/twitter-card/src/utils/with-twitter-card-name-attribute.ts
Due: pnpm run lint:code:raw --fix, pnpm run format

build: revert hack to pass linting checks
  .lintstagedrc.json
  package.json
Due: pnpm run lint:code:raw --fix, pnpm run format

style: fix manual linting issues
  projects/ngx-meta/src/core/src/head-elements/__tests__/head-element-harness.ts
  projects/ngx-meta/src/core/src/head-elements/head-element-upsert-or-remove.spec.ts
  projects/ngx-meta/src/core/src/managers/provider/v2/provide-ngx-meta-manager.spec.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-resolver.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/core/src/url-resolution/no-op-url-resolver.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-url-metadata-provider.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-url-metadata-provider.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.spec.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.spec.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-image-metadata-provider.ts
Due: pnpm run lint:code:raw --fix, pnpm run format

build(lint): split between Angular TS files and regular TS files
  eslint.config.js
  projects/ngx-meta/src/eslint.config.js
Due: none

build: ignore files using `.gitignore`
  .gitignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:code:raw --fix, pnpm run format

style: fix autofixable linting issues
  projects/ngx-meta/e2e/cypress/support/console.ts
  projects/ngx-meta/e2e/cypress/support/cypress.d.ts
  projects/ngx-meta/e2e/types/istanbuljs__load-nyc-config.d.ts
  projects/ngx-meta/example-apps/src/angular/get-available-angular-cli-version-aliases.ts
  projects/ngx-meta/example-apps/src/parse-args.ts
  projects/ngx-meta/example-apps/src/steps/update-ts-config-to-import-json-files-and-set-path-mappings.ts
  projects/ngx-meta/example-apps/src/tools/execa.ts
  projects/ngx-meta/example-apps/src/typescript/add-app-module-from-template-into-source-file.ts
  projects/ngx-meta/example-apps/src/typescript/add-imports-from-template-into-source-file.ts
  projects/ngx-meta/schematics/ng-add/schema.ts
Due: pnpm run lint:code:raw --fix, pnpm run format

style: fix manual linting issues
  projects/ngx-meta/example-apps/src/steps/generate-tmp-dir-and-register-cleanup-callback.ts
  projects/ngx-meta/example-apps/src/steps/update-app-module-or-app-config-from-templates.ts
  projects/ngx-meta/schematics/ng-add/index.spec.ts
Due: pnpm run lint:code:raw --fix, pnpm run format

build(lint): add prettier plugin back
  eslint.config.js
Due: none

build(lint): add Cypress linting back
  eslint.config.js
Due: none

build(lint): add linting for JSON files back
  .lintstagedrc.json
  eslint.config.js
Due: pnpm run lint:code:raw --fix, pnpm run format

build(lint): remove subdirectory `eslint.config.js`
  eslint.config.js
  projects/ngx-meta/src/eslint.config.js
Due: none

build(lint): configure `ng lint` for `ngx-meta`
  angular.json
Due: pnpm run lint:code:raw --fix, pnpm run format

build(lint): rename JSON files plugin, abstract `package.json` rule
  eslint.config.js
Due: none

build(lint): add Jasmine linting back
  eslint.config.js
  projects/ngx-meta/src/core/src/head-elements/head-element-upsert-or-remove.spec.ts
  projects/ngx-meta/src/core/src/managers/provider/v2/provide-ngx-meta-manager.spec.ts
  projects/ngx-meta/src/core/src/resolvers/metadata-resolver.spec.ts
  projects/ngx-meta/src/core/src/service/ngx-meta.service.spec.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-url-metadata-provider.spec.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.spec.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.spec.ts
Due: pnpm run lint:code:raw --fix, pnpm run format

build(lint): expand Cypress files being linted
  eslint.config.js
Due: none

build(lint): add Jest linting back
  eslint.config.js
Due: none

build: add linting back to example app templates
  eslint.config.js
Due: none

chore: reduce diff by restoring original lintstaged
  .lintstagedrc.json
Due: pnpm run lint:code:raw --fix, pnpm run format

chore: restore angular.json to reduce diff
  angular.json
Due: pnpm run lint:code:raw --fix, pnpm run format

chore: ignore from coverage faulty lines
  projects/ngx-meta/src/core/src/url-resolution/no-op-url-resolver.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-image-metadata-provider.ts
  projects/ngx-meta/src/open-graph/src/basic-optional/managers/open-graph-url-metadata-provider.ts
  projects/ngx-meta/src/routing/src/listener/router-listener.ts
  projects/ngx-meta/src/standard/src/managers/standard-canonical-url-metadata-provider.ts
  projects/ngx-meta/src/twitter-card/src/managers/twitter-card-image-metadata-provider.ts
Due: pnpm run lint:code:raw --fix, pnpm run format

chore: update API report
  projects/ngx-meta/api-extractor/ngx-meta.api.md
Due: none

build(lint): convert ESLint config to ESM
  eslint.config.mjs
Due: none

build(lint): convert ESLint config to ESM (#1037)
  eslint.config.mjs
Due: none

build(ide): format *.mjs files [skip ci]
  .idea/jsLinters/eslint.xml
Due: none

build: fix unbound variable in bundle size analyze script
  projects/ngx-meta/bundle-size/analyze.sh
Due: none

perf: remove ANGULAR_ROUTER_URL if unused
  projects/ngx-meta/src/core/src/url-resolution/angular-router-url.ts
Due: pnpm run lint:code:raw --fix, pnpm run format
